* {
    box-sizing: border-box;
   }

body
{
    font-family: Raleway, sans-serif;
    max-width: 1700px;
    margin: auto;
}

h1, h4, p
{
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}

strong
{
    font-weight: 600;
}

/*************************************** Header ***************************************/

.top-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.top-header img
{
    height: 45px;
    width: 110px;
    padding-left: 15px;
    margin-top: 25px;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav a 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    padding: 0px 25px 0px 25px;
    border-top: 2px solid white;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*** Media queries tablet ***/

@media all and (min-width: 768px) and (max-width: 992px)
{
    .top-header
    {
        margin: auto;
    }
}

/*** Media queries mobile ***/

@media all and (max-width: 767px)
{
    .top-header
    {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    nav
    {
        justify-content: space-around;
        width: 100%;
        height: 60px;
        padding: 0;
    }

    nav a
    {
        width: 100%;
        align-items: center;
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
    }

    nav a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
}

/*************************************** Main ***************************************/

main
{
    margin: 1.5% 0 4% 0;
    padding: 0 53px 0 50px;
}

/*** Media queries mobile ***/

@media all and (max-width: 767px)
{
    main
    {
        padding: 0;
    }
}

/*************************************** Search bar ***************************************/

h1
{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.8%;
}

.search-title p
{
    font-size: 16px;
    font-weight: 300;
}

#search-bar
{
   display: inline-block;
   width: 600px;
   height: 62px;
   margin: 1% 0;
}

#marker-logo
{
    position: relative;
    top: 5px;
    height: 80%;
    font-size: 19px;
    color: black;
    background-color: #F2F2F2;
    border: 1px;
    padding: 14px 18px 14px 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search
{
    position: relative;
    top: 5px;
    width: 235px;
    height: 80%;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 600;
    padding: 1px 16px 1px 16px;
}

#search-button
{
    position: relative;
    top: 5px;
    width: 135px;
    height: 80%;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    border-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1px 16px 1px 16px;
    cursor: pointer;
}

#search-logo
{
    display: none;
}

/*** Media queries tablet ***/

@media all and (min-width: 768px) and (max-width: 992px)
{
    .find-lodge
    {
        margin: auto;
    }
}

/*** Media queries mobile ***/

@media all and (max-width: 767px)
{
    .find-lodge
    {
        width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
    }

    h1
    {
        margin-bottom: 4%;
    }

    #search-button
    {
        display: none;
    }

    #search-logo
    {
        display: inline;
        position: relative;
        top: 4px;
        height: 80%;
        font-size: 15px;
        color: white;
        background-color: #0065FC;
        border: 1px;
        margin-left: -10px;
        padding: 17px 18px 17px 18px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #search-bar
    {
        width: 100%;
        margin: 5% 0;
    }
}

/*************************************** Filters ***************************************/

.filters
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    margin: 1% 0;
}

.filters a
{
    padding: 0;
    margin: 0;
}

.filters p
{
    font-size: 18px;
    font-weight: 600;
    margin: 0 3% 1.5% 0.5%;
}

.all-filters
{
    display: flex;
    flex-wrap: wrap;
    width: 950px;
}

.all-filters a
{
    margin-right: 2%;
    margin-bottom: 2%;
    padding-right: 1.8%;
}

.filter
{
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-right: 1.8%;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
}

.filter:hover
{
    background-color:#DEEBFF;
    border-color: #DEEBFF;
}

.filter .fas
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.filter span
{
    font-size: 18px;
    font-weight: 600;
    padding-left: 13px;
    white-space: nowrap;
}

.info-filters
{
    display: flex;
    align-items: center;;
    font-size: 16px;
    font-weight: 300;
    margin: 1% 0 2.5% 0;
}

.info-filters .fas
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 25px;
    width: 25px;
    color: #0065FC;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 12.5px;
    margin-right: 1%;
}

/*************************************** Lodging ***************************************/

.lodging
{
    display: flex;
    width: 100%;
}

.marseille
{
    width: 66%;
    justify-content: flex-start;
    padding: 2% 3%;
    margin-right: 3%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.card-container
{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2
{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.card
{
    height: 200px;
    width: 245px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
    margin-bottom: 5%;
    overflow: hidden;
}

.card:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px  rgba(0,0,0,0.3);
}

.card img
{
    height: 60%;
    width: 100%;
    object-fit: cover;
}

h3
{
    margin: 2% 0;
    font-size: 16px;
    font-weight: 600;
}

.container
{
    margin-left: 4%;
    margin-right: 10%;
}

.container p
{
    margin: 3% 0;
    font-weight: 300;
    font-size: 14px;
}

.stars
{
    margin-top: auto;
    margin-bottom: 2%;
    color: #0065FC;
    font-size: 11px;
}

.grey-star
{
    color: #D9D9D9;
}

.show-more
{
    font-weight: 600;
    font-size: 18px;
}

.most-popular
{
    width: 33%;
    padding: 2% 3%;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-wrap: wrap;
}

.title-popular h2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.popular-card
{
    display: flex;
    height: 140px;
    width: 100%;
    min-width: 250px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
    overflow: hidden;
    margin-top: 10%;
}

.popular-card:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.popular-card img
{
    height: auto;
    width: 40%;
    object-fit: cover;
    flex-shrink: 0;
}

.popular-info
{
    display: flex;
    flex-direction: column;
    margin: 3% 5% 3% 5%;
}

.popular-info p
{
    margin: 4% 0;
    font-weight: 300;
    font-size: 14px;
}

/*** Lodging - Media queries tablet ***/

@media all and (min-width: 768px) and (max-width: 992px)
{
    .lodging
    {
        flex-wrap: wrap-reverse;
    }

    .marseille
    {
        width: 100%;
        margin: 5% 0;
        padding: 2% 5%;
    }

    .card-container
    {
        justify-content: space-between;
    }

    .card
    {
        width: 40%;
    }

    .most-popular
    {
        width: 100%;
        padding: 2% 5%;
    }
}

/*** Lodging - Media queries mobile ***/

@media all and (max-width: 767px)
{
    .lodging
    {
        flex-wrap: wrap-reverse;
    }

    .most-popular
    {
        width: 100%;
        border-radius: 0;
        padding: 5%;
    }

    .marseille
    {
        width: 100%;
        border-radius: 0;
        background-color: white;
        padding: 5%;
        margin: 0%;
    }

    .card
    {
        width: 100%;
    }
}

/*************************************** Activities ***************************************/

.activities h2
{
    margin: 4% 0 2% 0;
}

.activity-container
{
    display: flex;
    justify-content: space-between;
    height: 445px;
    margin: 2% 0;
}

.activity-name
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    margin: 0;
    padding: 6% 6%;
    height: 55px;
    width: 100%;
}

.vieux-port
{
    position: relative;
    width: 22.5%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
}

.vieux-port img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vieux-port:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.column-one
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.5%;
}

.pomegues
{
    position: relative;
    height: 53%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
}

.pomegues img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pomegues:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.frioul
{
    position: relative;
    height: 37%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
}

.frioul img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frioul:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.calanques
{
    position: relative;
    width: 22.5%;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
    overflow: hidden;
}

.calanques img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calanques:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.column-two
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.5%;
}

.notre
{
    position: relative;
    height: 44%;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
    overflow: hidden;
}

.notre img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notre:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.longchamp
{
    position: relative;
    height: 47%;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgb(153,153,153,30%);
    overflow: hidden;
}

.longchamp img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.longchamp:hover
{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/*** Activities - Media queries mobile ***/

@media all and (max-width: 767px)

{
    .activities
    {
        padding: 4% 5%;
    }

    .activity-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 0;
        height: auto;
    }

    .vieux-port
    {
        width: 100%;
        height: 190px;
        margin: 4% 0;
    }

    .column-one
    {
        width: 100%;
        height: 420px;
        margin: 4% 0;
    }

    .pomegues
    {
        height: 190px;
    }

    .frioul
    {
        height: 190px;
    }

    .calanques
    {
        width: 100%;
        height: 190px;
        margin: 4% 0;
    }

    .column-two
    {
        width: 100%;
        height: 420px;
        margin: 4% 0;
    }

    .notre
    {
        height: 190px;
    }

    .longchamp
    {
        height: 190px;
    }
}

/*************************************** Footer ***************************************/

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 40px 53px 40px 50px;
}

h4
{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.about
{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.our-lodging
{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.assistance
{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.link
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
    margin: 8px 0;  
}

/*** Footer - Media queries mobile ***/

@media all and (max-width: 767px)
{
    footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10% 10%;
    }

    .about
    {
        margin-bottom: 8%;
    }

    .our-lodging
    {
        margin-bottom: 8%;
    }
}