* {
    box-sizing: border-box;
   }

body
{
    font-family: Raleway, sans-serif;
}
   /* Header */

.top-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    height: 120px;
}

.top-header img
{
    height: 40px;
    width: 120x;
    padding-left: 15px;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

nav a 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 0px 25px 0px 25px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Media queries tablets */

@media all and (max-width: 992px)
{
    .top-header
    {
        margin: auto;
    }
}

/* Media queries mobile */

@media all and (max-width: 768px)
{
    .top-header
    {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    nav
    {
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    nav a
    {
        width: 100%;
        align-items: center;
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
    }

    nav a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
}

/* Main */

main
{
    padding: 0 50px 0 50px;
}

/* Search bar */

#search-bar
{
   display: inline-block;
   width: 400px;
   height: 50px;
}

#marker-logo
{
    position: relative;
    top: 5px;
    height: 80%;
    font-size: 15px;
    color: black;
    background-color: #F2F2F2;
    border: 1px;
    padding: 12px 15px 12px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search
{
    position: relative;
    top: 5px;
    height: 80%;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    padding: 1px 18px 1px 18px;
}

#search-button
{
    position: relative;
    top: 5px;
    height: 80%;
    font-size: 14px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-style: none;
    border-left: 1px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 6px 1px 6px;
}

h1
{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 2px;
}

#search-title p
{
    font-size: 14px;
}

#search-logo
{
    display: none;
}

/* Media queries tablets */

@media all and (max-width: 992px)
{
    .top-header
    {
        margin: auto;
    }
}

/* Media queries mobile */

@media all and (max-width: 768px)
{
    #find-lodge
    {
        width: 100%;
        margin: auto;
    }
    #search-button
    {
        display: none;
    }

    #search-logo
    {
        display: inline;
        position: relative;
        top: 5px;
        height: 80%;
        font-size: 15px;
        color: white;
        background-color: #0065FC;
        border: 1px;
        margin-left: -10px;
        padding: 12px 15px 12px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
